/*=============== HERO SECTION ===============*/
.hero-section {
    position: relative; /* relative positioning for absolute positioning of text */
    background-image: url(images/hero-about-us.webp);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center center;
    height: 40vh;
}
.hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(24, 12, 5, 0.75);
}
.hero-section h1 {
    position: absolute;
    color: var(--white);
    font-size: var(--huge-heading);
    font-family: var(--seasonsbold);
    z-index: 1; /* Ensure text appears above overlay */
    left: 100px;
    bottom: 50px;
}

/* For mobile */
@media screen and (max-width: 600px) {
    .hero-section {
        height: 30vh;
    }
    .hero-section h1 {
        font-size: var(--subheading);
        left: 10%;
    }
}
/*=============== INTRODUCTION ===============*/
.introduction-to-about-us {
    text-align: center;
    margin: 120px auto;
    max-width: 900px;
    line-height: 24px;
}
.mission-heading {
    font-family: var(--seasonsbold);
    font-size: var(--heading);
    color: var(--black);
    margin-bottom: var(--margin-45px);
    text-align: center;
}